
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>list</h1>
<table border="1">
<tr>
<th>id</th>
<th>name</th>
</tr>
<tr>
<tr>{% for c in Classroom %}</tr>
<td>{{c.id }}</td>
<td>{{c.name}}</td>
<td><a href="{{ path('app_edit',{'id':c.id}) }}">edit</a></td>
<td><a href="{{ path('app_delete',{'id':c.id})}}">delete</a></td>
 {% endfor %}
</tr>
</table>
</body>
</html>